$colors: (
    color0: #000000,
    color1: #FFFFFF,
    color2: #030303,
    color3: #7f95a4,
    color4: #634254,
    color5: #e1c184,
    color6: #f4e64c,
    color7: #ce4f3c,
    color8: #f0cf6f,
    color9: #7a3e35,
    color10: #8d7b56,
    color11: #ec964e
);

$colors: map-merge($colors, (
    bg-color: map-get($colors, color1)
));
